@charset "UTF-8";
:root {
	--header-background: #70CAD1;
	--hero-background: #CAEDFF;
	--footer-background: #3E517A;
}
* {
    text-decoration: none;
}
body {
	justify-items: center;
	
}
div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 800px;
}
table {
	margin-top: 25px;
	text-align: center;
	min-width: 800px;
}
table tr {	
	height: 50px;	
}
table tr:nth-of-type(even) {
	background-color: #f3f3f3;
}
table tr th {
	background-color: var(--header-background);
	color: white;
}
table, th, td {
  border-collapse: collapse;
}