@charset "UTF-8";
* {
	margin: 10px;
	text-decoration:none;	
}
:root {
	--header-background: #70CAD1;
	--hero-background: #CAEDFF;
	--footer-background: #3E517A;
}
body {
	justify-items: center;
}
div.hero-set {
	justify-items: center;
}
.footer {
	color: white;
	width: 600px;
}
.header, .hero, .footer {
	
	align-content: center;
}

.hero {
	margin-top: 50px;
	min-height: 500px;
	width: 480px;
	background-color: var(--hero-background);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	border-radius: 20px;	
	
	}
.footer {
	height: 200px;
	min-width: 600px;
	background-color: var(--footer-background);
	margin-top: 0px;
}
