<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link type="text/css" rel="stylesheet" href="./resources/css/mainTable.css" />
</head>
<body>

	<section class="cusTable">
		<h2>消費者表單</h2>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>country</th>
					<th>first_name</th>
					<th>last_name</th>
					<th>delete</th>
					<th>update</th>
				</tr>
			</thead>
			<tbody id="customerList">		
			</tbody>
		</table>
	</section>
	
	<script type="text/javascript"  charset="utf-8" src="resources/js/customerTable.js"></script>
</body>
</html>