<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section>
		<form action="" method="post">
			<table>	
				<tr>
					<td>使用者名稱：</td>
					<td><input type="text" name="user" required/></td>
				</tr>
			</table>
			<tr>
				<td>帳號：</td>
				<td><input type="text" name="account" required/></td>
			</tr>
			<tr>
				<td>密碼：</td>
				<td><input type="password" name="password" required/></td>
			</tr>
			<tr>
				<td>確認密碼：</td>
				<td><input type="password" name="check" required/></td>
			</tr>
			<tr>
				<td>電子信箱：</td>
				<td><input type="text" name="email" required/></td>
			</tr>
		</form>
	</section>
</body>
</html>